#!/bin/bash
# {{ ansible_managed }}

input_device="$(df /boot/efi | grep /dev | cut -d ' ' -f 1 | xargs)"
output_device="$(fdisk -l | grep EFI | grep -v $input_device | cut -d ' ' -f 1 | xargs)"

dd if=$input_device of=$output_device status=progress
